.card {
    background-color: rgb(240, 240, 159);
    max-height: 20vh;
    min-height: 20vh;
    max-width: 20vw;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-bottom {
    margin: 10px;
}